@charset "utf-8";
/* CSS Document */

body {
	background-color:#b0c4de;
}

p.first {
	float:left
}

.second {
	text-align:center
}

input.error { 
	border: 2px solid #f00;
	color: #000; 
}

select.error {
	border: 2px solid #f00;
	color: #000;
}